<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>좋아요</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<div v-if="liked">좋아요 눌렀음</div>
			<button v-else v-on:click="onClickButton">Like</button>
		</div>
	</body>
	
	<script>
		const app = new Vue({
			// el 속성으로 root영역을 통제
			el : '#root', 
			// 바뀌는 부분이 data가 됨 ( data를 넣으면 화면부분이 바뀜 )
			data : {
				liked : false
			},
			// methods에서 사용되는 this는 data를 가르킴
			methods : {
				onClickButton : function() {
					this.liked = true;
				}
			}
		});
	</script>
</html>