<div id="app">
    <!-- v-on:이벤트 이름="상위 컴포넌트의 메서드 이름" -->
    <app-content v-on:refresh="showAlert"></app-content>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    var appContents = {
        // `` : 여러줄의 데이터 작성
        template : `
            <p>
                <button v-on:click="sendEvent">갱신</button>
            </p>
        `,
        methods : {
            sendEvent : function() {
                this.$emit('refresh');
            }
        }
    }

    // 루트 컴포넌트
    Vue.createApp({
        methods : {
            showAlert() {
                alert('새로고침');
            }
        },
        components : {
            // '컴포넌트 이름' : 컴포넌트 내용
            'app-content' : appContents
        }
    }).mount('#app');
</script>